.button-primary {
  color: #fff;
  background-color: #1890ff;
  width: 30px;
  height: 30px;
}

.button-primary:hover {
  background-color: #096dd9;
}

.weekBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}